{% extends 'users/base.html' %}

{% block title %}
  Create User
{% endblock %}

{% block body %}
  <h2>Create new user</h2>
  <div id="form-block">
    <form method="post" class="row row-cols-1">
      <div class="col">
        <label
          class="form-label"
          for="field-name"
        >User name</label>
        <input
          id="field-name"
          class="form-control"
          name="product-name"
          type="text"
          placeholder="John"
          required="required"
        >
      </div>
      <div class="col">
        <input class="my-2 my-md-3 btn btn-success" type="submit" value="Create">
      </div>

    </form>
  </div>

  <div>
    <a href="{{ url_for('users.list') }}">Back to users list</a>
  </div>
{% endblock %}