{% extends 'users/base.html' %}

{% block title %}
  Create User
{% endblock %}

{% block body %}
  <h2>Create new user</h2>
  <div id="form-block">
    <form method="post" class="row row-cols-1">
      <div class="col">
          <label
                  class="form-label"
                  for="field-name">name</label>
          <input
                  id="field-name"
                  class="form-control"
                  name="user-name"
                  type="text"
                  placeholder="John"
                  required="required">
          <label
                  class="form-label"
                  for="field-username">username</label>
          <input
                  id="field-username"
                  class="form-control"
                  name="user-username"
                  type="text"
                  placeholder="John"
                  required="required">
          <label
                  class="form-label"
                  for="field-email">email</label>
          <input
                  id="field-email"
                  class="form-control"
                  name="user-email"
                  type="email"
                  placeholder="example@example.com">
          <label
                  class="form-label"
                  for="field-phone">phone</label>
          <input
                  id="field-phone"
                  class="form-control"
                  name="user-phone"
                  type="Text"
                  required="required">
          <label
                  class="form-label"
                  for="field-website">website</label>
          <input
                  id="field-website"
                  class="form-control"
                  name="user-website"
                  type="Text">
      </div>
      <div class="col">
        <input class="my-2 my-md-3 btn btn-success" type="submit" value="Create">
      </div>

    </form>
  </div>

  <div>
    <a href="{{ url_for('users.list') }}">Back to users list</a>
  </div>
{% endblock %}