{% extends 'users/base.html' %}

{% block title %}
  Delete User #{{ user.id}}
{% endblock %}

{% block body %}
    <h2>Delete user <code>{{ user.name }}</code></h2>
    <div>Are you shure that you want to delete product: {{ user.name }}</div>
    <form method="post" class="row row-cols-1">
    <div class="col">
        <a class="btn btn-success" href="{{ url_for('users.detail', user_id=user.id) }}">
            Back to user

        </a>
        <input class="my-2 my-md-3 btn btn-danger" type="submit" value="Delete">
    </div>
    </form>
{% endblock %}